fastapi~=0.115.5
uvicorn[standard]
psycopg2-binary~=2.9.10
requests~=2.32.3
beautifulsoup4~=4.12.3
pandas~=2.2.3
sqlalchemy~=2.0.40
#pytest
rapidfuzz~=3.13.0
networkx~=3.4.2


SQLAlchemy>=2.0
asyncpg>=0.29
python-dotenv~=1.0.1
pydantic~=2.9.2
numpy~=2.1.1