
.node {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    font-size: 15px;
    width: 250px;
    height: 40px;            /* 🔥 fixed height */
    position: relative;
    overflow: visible;
    display: flex;           /* 🔥 layout fix */
    flex-direction: row;
    text-align: left;
    text-overflow: ellipsis;
}

.node:hover {
    cursor: pointer;
}


.node h4 {
    text-align: left;
    text-overflow: ellipsis;
}

.node button {
    background: none;
    border: none;
    border-radius: 5px;
    /*box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);*/
    box-shadow: none;
    height: 30px;
    font-size: 20px;
    top: 50%;
    margin-left: 5px;
}

.node button:hover {
    background: lightgray;
}




.courseInfo {
    position: absolute;
    bottom: 100%;
    transform: translate(-90px, -10px);
    width: 440px;
    padding: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10; /* 🔥 make sure it's on top */
}

.courseInfoButton {
    position: relative;
    background-color: white;
}